<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Quyền Camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Quyền truy cập Thư viện ảnh (Android 13+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Quyền truy cập Thư viện ảnh (Android 12 trở xuống) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <!-- Quyền Rung -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Quyền Mạng & Wi-Fi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="QR Scanner"
        android:theme="@style/Theme.QRStudio">

        <!-- MainActivity là điểm khởi chạy, chứa BottomNavigationBar -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ScanQrActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".GenerateQrActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>
</manifest>
